<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>차들이기존코스상세페이지</title>
  <style>
h2 {font-size:15px;}
.star-rating {width:304px;}
.star-rating,.star-rating span{display:inline-block;height:55px; overflow:hidden; background:url('/images/star.png')no-repeat;}
.star-rating span{background-position:left bottom; line-height:0;vertical-align:top;}
</style>
</head>
<body>
	<form action="/chadlly/main" method="get">
        <input type="submit" name="home" value="홈으로" />
    </form>

	<div id="map" style="width:100%;height:80vh;"></div>

	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=070f591babf3005f334087e618dad67b"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=070f591babf3005f334087e618dad67b&libraries=services,clusterer,drawing"></script>

	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div
		    mapOption = {
		        center: new kakao.maps.LatLng(37.56691, 126.98017), // 지도의 중심좌표
		        level: 4, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    };

		// 지도를 생성한다
		var map = new kakao.maps.Map(mapContainer, mapOption);

	</script>

<ul class="detail">
       <li>출발주소:</li>
       <li>예상거리:</li>
       <li>예상시간:</li>
       <li>코스테마:</li>
       <li>주요장소:</li>
     </ul>

     <form>
    <p>주변주차장 검색:</p>
    <label><input type="radio" name="parking" value="on"> on </label>
    <label><input type="radio" name="parking" value="off"> off </label>
     </form>


<div class="wrap-star">
  <h2>별점</h2>
<span class='star-rating'>
<span style ="width:50%"></span>
</span>
</div>
<button> 입력완료 </button>


</body>
</html>
