<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <title>에러 페이지</title>
    </head>
    <body>
        <h1> 에러 에러 에러</h1>
        <h3> 잘못된 접근입니다. </h3>
    </body>
<html>