<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/dist/filter.css" rel="stylesheet" type="text/css"> 
</head>
<body>
    <div class="main">
        <button id="gobackbtn"> 홈으로 </button>
        <div class="title">나만의 코스 계획하기</div>
        <div class="contents">
            <div class="question">
                <div class="query">지역을 정해주세요.</div>
                <input type=text class="answer" placeholder="ex) 인천" size=100>
            </div>
            <div class="question">
                <div class="query">날짜를 정해주세요.</div>
                <input type=text class="answer" placeholder="ex) 20201119" size=100>
            </div>
            <div class="question">
                <div class="query">시간대를 정해주세요.</div>
                <input type=text class="answer" placeholder="ex) 저녁" size=100>
            </div>
            <div class="question">
                <div class="query">테마를 정해주세요.</div>
                <input type=text class="answer" placeholder="ex) 데이트" size=100>
            </div>
            <div class="question">
                <div class="query">동반인원 설정해주세요.</div>
                <input type=text class="answer" placeholder="ex) 3인" size=100>
            </div>
            <div class="question">
                <div class="query">소요 시간을 정해주세요.</div>
                <input type=text class="answer" placeholder="ex) 2시간" size=100>
            </div>
            <div class="question">
                <div class="query">여기는 꼭 가고 싶어요.</div>
                <input type=text class="answer" placeholder="ex) 박물관" size=100>
            </div>
            <div class="question">
                <div class="query">여기는 가기 싫어요.</div>
                <input type=text class="answer" placeholder="ex) 유적지" size=100>
            </div>
            <div class="question">
                <div class="query">예상 비용을 정해주세요.</div>
                <input type=text class="answer" placeholder="ex) min 20000 max 100000" size=100>
            </div>
        </div>
        <form action="/chadlly/filter/search" method="get">
            <input type= "submit" value="입력완료"/>
        
        </form>
        
    </div>


</body>

<script src="/script/dist/filter.dev.js" type="text/javascript" ></script>

</html>