<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>차들이란</title>
</head>
<body>
    <form action="/chadlly/main" method="get">
        <input type="submit" name="home" value="홈으로" />
    </form>
    <h1>차들이는!</h1>
    <ul>
        <li> 일상에 찌든 사람들.</li>
        <li> 드라이브를 하고 싶은 사람들.</li>
        <li> 일상 속 특별한 여가 시간을 보내고 싶은 사람들</li>
    </ul>
    <div>
        <div>다양한 나들이 장소와 함께 쾌적하고 취향 저격인 드라이브 코스를 추천하는 서비스를 제공합니다</div>
        <div>박물관, 문화축제, 문화유적, 공연/행사 등등 매일 업데이트되는 즐거운 행사 참여 코스들까지!!</div>
    </div>
</body>
</html>