<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>차들이</title>
    <link href="/styles/dist/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main class="main">
        <div> 
            <button id='goindexbtn'> 웹페이지 소개 </button>
            <button> 나만의 코스 짜기 </button>
            <button> 추천 코스 보기 </button>
        </div>
    </main>

    <script src="/script/main.js" type="text/javascript" ></script>
</body>