<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <style>
        .contents {
            width: 1200px;
            margin: 0px auto;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            align-items: center;
        }

        .kakaomap {
            height: 750px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
        }

        .list {}

        .course {
            padding: 10px;
            height: 50px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }
    </style>

</head>

<body>
    <form action="/chadlly/main" method="get">
        <input type="submit" value="홈으로" />
    </form>
    <div class="contents">
        <div class="kakaomap">카카오 맵
        <form action="/chadlly/filter/search" method="get">
            <input type='submit' class='btn' name='btn' value='선택' style="position: absolute; right: 77px; bottom: 18px;">
        </form>
        </div>
        
        <div class="list">
            <div class="course"><label>list 1</label>
                <button>보기</button>
            </div>

            <div class="course"><label>list 2</label>
                <button>보기</button>
            </div>

            <div class="course"><label>list 3</label>
                <button>보기</button>
            </div>
        </div>
    </div>
</body>


</html>