#map{
    margin: 10px auto;
    width: 1100px;
    height: 500px;
    border: 1px solid black;
}

.contents{
    display:flex;
}

.content-descriptions{
    margin-left: 50px;
    padding: 5px;
    width: 510px;
    line-height: 35px;
    border: 1px solid black;
}

.content-description{
    border-bottom: 1px groove grey;
    font-size: 0.8em;
}

.sub-contents{
    margin-left: 55px;
    padding: 5px;
    width: 510px;
    height: 180px;
    border: 1px solid black;
}

.parking{
    border-bottom: 1px groove grey;
    font-size: 0.8em;
    padding-bottom: 10px;
}

.rating{
    font-size: 20px;
}

.star-rating{
    margin: 10px auto;
    width: 400px;
    height: 100px;
    border: 1px solid black;
}

.save-button{
    margin-top:50px;
    margin: 5px auto;
    width:500px;
    height:25px;
    font-size:1rem;
}


.maincontainer{
    width : calc(100% - 250px);
    height : 800px;
  }

.star-rating {
    width:304px;
}
.star-rating,.star-rating span{
    display:inline-block;
    height:55px;
    overflow:hidden;
    background:url('/images/star.png')no-repeat;
}
.star-rating span{
    background-position:left bottom;
    line-height:0;
    vertical-align:top;
}




.kmap {
    content: "";
    display: table; 
    clear: both;
    width:100%;
    height: 600px;
}


.star-rating {
    width: 200px;
}

@media (max-width:400px){
    .kmap{
      width : 100%;
      height : 400px;
    }
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }