<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>차들이</title>
    <link href="layout/styles/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
        <div class="nav">
            <div class="nav-left-items">
                <img src="/images/logo.png" width="300px" height="50px">
            </div>
            <div class="nav-right-items">
                <div class="nav-item">
                    <a href="../chadlly">홈으로</a>
                </div>
                <div class="nav-item">
                    <a href="../chadlly/customize">코스 계획하기</a>
                </div>
                <div class="nav-item">
                    <a href="../chadlly/filter">코스 필터하기</a>
                </div>
                <div class="nav-item">
                    <a href="../chadlly/recommends">추천 코스보기</a>
                </div>
            </div>
            
        </div>
        <div class="index-main">
            <div id="chadlly-image">
                <img src="/images/main-chadlly.png" width="1000px" height="500px">
            </div>
            <div id="main-content">
                <img src="/images/main-content.png" width="1200px" height="150px">
            </div>
        </div>
    </div>
</body>

</html>